<h1>New shortlist</h1>
<div class="card">
  <%= form_with model: @shortlist do |f| %>
    <% if @shortlist.errors.any? %>
      <div class="error-box" style="margin-bottom: 1rem;">
        <% @shortlist.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :title, "Shortlist name" %>
      <%= f.text_field :title, placeholder: "e.g. Senior Rails Developer – Round 2", autofocus: true %>
    </div>
    <% if @candidate %>
      <%= hidden_field_tag :type,         @candidate.class.name %>
      <%= hidden_field_tag :candidate_id, @candidate.id %>
    <% end %>
    <%= f.submit "Create shortlist", class: "btn" %>
  <% end %>
</div>
<div style="margin-top: 0.5rem;">
  <%= link_to "← All shortlists", shortlists_path, style: "color: #555; font-size: 0.9rem;" %>
</div>
